.custom-nav-link {
    width: auto;
    display: inline-block;
    padding: 0.625rem 1.25rem; /* Adjust padding as needed */
    margin: 0.3125rem; /* Add spacing between Nav.Links */
    color: white !important; /* Ensure text color is white */
    font-size: 1.5rem; /* Adjust font size for larger text */
    background-color: transparent; /* Ensure background is transparent */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer for better UX */
    text-decoration: none; /* Remove underline from links */
}

.custom-nav-link:hover {
    color: darkgoldenrod !important; /* Change text color to yellow on hover */
}

.navbar-fixed {
    position: fixed !important; /* Fix the navbar at the top */
    top: 0 !important;
    width: 100%; /* Ensure it spans the full width */
    z-index: 1000; /* Ensure it stays above other elements */
    font-size: x-large;
    font-weight: 600;
}