.custom-nav-link {
    width: auto;
    display: inline-block;
    padding: 0.625rem 1.25rem;
    margin: 0.3125rem 1rem;
    color: white !important;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.custom-nav-link:hover {
    color: darkgoldenrod !important;
    transition: transform 0.2s ease-in, color 0.2s ease-out;
    transform: scale(1.25); /* Increase size by 10% */
}


.navbar-fixed {
    position: fixed !important; /* Fix the navbar at the top */
    top: 0 !important;
    width: 100%; /* Ensure it spans the full width */
    z-index: 1000; /* Ensure it stays above other elements */
    font-size: x-large;
    font-weight: 600;
}