.main {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background-color: inherit;
}

.testimonial-header h1{
  font-weight: 600;
  color: white;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 2rem;
}
